<div class="register-page">
  <h1>Registracija</h1>

  <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
    <mat-form-field appearance="outline" class="full-width">
      <mat-label>Ime</mat-label>
      <input matInput formControlName="firstName" required>
    </mat-form-field>

    <mat-form-field appearance="outline" class="full-width">
      <mat-label>Prezime</mat-label>
      <input matInput formControlName="lastName" required>
    </mat-form-field>

    <mat-form-field appearance="outline" class="full-width">
      <mat-label>Email</mat-label>
      <input matInput type="email" formControlName="email" required>
    </mat-form-field>

    <mat-form-field appearance="outline" class="full-width">
      <mat-label>Lozinka</mat-label>
      <input matInput type="password" formControlName="password" required>
    </mat-form-field>

    <mat-form-field appearance="outline" class="full-width">
      <mat-label>Region</mat-label>
      <mat-select formControlName="region">
        <mat-option *ngFor="let region of regions" [value]="region">
          {{ RegionUtil.getLabel(region) }}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <button mat-raised-button color="primary" type="submit" [disabled]="registerForm.invalid">
      Registruj se
    </button>

    <span class="redirect-text">
    Već imate nalog?
     <a [routerLink]="['/login']">Prijavite se ovde</a>
    </span>

  </form>
</div>
