<mat-sidenav-container class="sidenav-container" fullscreen>
  <!-- COLLAPSIBLE SIDENAV -->
  <mat-sidenav #drawer class="sidenav" mode="side" [opened]="isExpanded">
    <mat-nav-list>
      <a mat-list-item routerLink="/gdp">
        <mat-icon class="nav-icon">account_balance</mat-icon>
        <span *ngIf="isExpanded">Ekonomija</span>
      </a>
      <a mat-list-item routerLink="/traffic">
        <mat-icon class="nav-icon">traffic_jam</mat-icon>
        <span *ngIf="isExpanded">Saobraćaj</span>
      </a>
      <a mat-list-item routerLink="/wage">
        <mat-icon class="nav-icon">currency_exchange</mat-icon>
        <span *ngIf="isExpanded">Plate</span>
      </a>
      <a mat-list-item routerLink="/population">
        <mat-icon class="nav-icon">people</mat-icon>
        <span *ngIf="isExpanded">Građani</span>
      </a>
      <a mat-list-item (click)="onImport()">
        <mat-icon class="nav-icon">upload_file</mat-icon>
        <span *ngIf="isExpanded">Import</span>
      </a>
      <a mat-list-item (click)="onCreateSurvey()">
        <mat-icon class="nav-icon">assignment</mat-icon>
        <span *ngIf="isExpanded">Kreiraj anketu</span>
      </a>
      <a mat-list-item routerLink="/surveys">
        <mat-icon class="nav-icon">content_paste_go</mat-icon>
        <span *ngIf="isExpanded">Ankete</span>
      </a>
    </mat-nav-list>
  </mat-sidenav>

  <mat-sidenav-content>
    <!-- TOOLBAR -->
    <mat-toolbar color="primary" class="shadow-md">
      <button mat-icon-button (click)="toggleSidebar()">
        <mat-icon>{{ isExpanded ? 'menu_open' : 'menu' }}</mat-icon>
      </button>
      <span>Zavod za Statistiku</span>
      <span class="spacer"></span>
      <button mat-icon-button>
        <mat-icon>account_circle</mat-icon>
      </button>
    </mat-toolbar>

    <div class="content">
      <router-outlet></router-outlet>
    </div>

    <app-footer></app-footer>
  </mat-sidenav-content>
</mat-sidenav-container>
