<div class="survey-container">
  <h1 class="page-title">Ankete</h1>

  <div class="cards-container">
    <ng-container *ngFor="let s of surveys">
      <div class="card" style="width: 18rem;">
        <div class="card-body">
          <h5 class="card-title">{{ DomainUtil.getLabel(s.domain) }}</h5>
          <p class="card-text">{{ s.title }}</p>
          <a href="#" class="btn btn-primary" (click)="openSurvey(s)" [class.disabled]="s.responded || !s.active">{{ 'Popunite anketu' }}</a>
        </div>
      </div>
    </ng-container>
  </div>
</div>
