<div class="unauthorized-container">
  <mat-card class="unauthorized-card mat-elevation-z6">
    <mat-card-content>
      <h1 class="title">❌ Niste autorizovani za pristup ovom resursu.</h1>
      <p class="subtitle">Molimo Vas ulogujte se ili se registrujte</p>
      <div class="actions">
        <button mat-raised-button color="primary" (click)="goToLogin()">Ulogujte se</button>
        <button mat-stroked-button color="accent" (click)="goToRegister()">Registrujte se</button>
      </div>
    </mat-card-content>
  </mat-card>
</div>
