@use '@angular/material';

.app-footer {
  display: flex;
  align-items: center;
  justify-content: space-between;

  padding: 0.75rem 1.25rem;
  color: rgba(0,0,0,0.6);

  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
}

.brand {
  font-weight: 500;
}

.spacer {
  flex: 1 1 auto;
}

.year {
  font-size: 0.9rem;
}
